.App {
  text-align: center;
  gap: 15px;
}

.tittle {
  background: rgb(68, 61, 190);
  background: radial-gradient(
    circle,
    rgba(68, 61, 190, 1) 7%,
    rgba(31, 226, 40, 1) 20%,
    rgba(2, 0, 36, 1) 32%,
    rgba(227, 244, 15, 1) 37%,
    rgba(22, 8, 59, 1) 42%,
    rgba(158, 61, 213, 1) 54%,
    rgba(0, 212, 255, 1) 90%
  );
}

.App-header {
  background-color: #79a3f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(241, 14, 14);
  gap: 25px;
}

button {
  height: 50px;
  width: 100px;
  background-color: blue;
  color: white;
  border-radius: 25px;
}

.box {
  gap: 15px;
}

.nav {
  border: 1px solid white;
}

.container {
  border: 1px solid green;
  gap: 30px;
}

button:hover {
  background-color: chartreuse;
  cursor: pointer;
}

